Repository districtr/districtr-v2, pull requests merged in 2025-02, with the labels that each got.

#254 CSV and GeoJSON assignment exports
  .github/workflows/fly-deploy-pr.yml
  app/src/app/components/Topbar.tsx
  app/src/app/utils/api/apiHandlers.ts
  backend/.env.production
  backend/Dockerfile
  backend/app/alembic/versions/552ac8c1defd_export_zone_assignments.py
  backend/app/core/config.py
  backend/app/exports/__init__.py
  backend/app/exports/main.py
  backend/app/exports/models.py
  backend/app/main.py
  backend/app/sql/export_zone_assignments_geo.sql
  backend/app/sql/get_block_assignments.sql
  backend/app/sql/get_block_assignments_geo.sql
  backend/app/utils.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/constants.py
  backend/tests/fixtures/zone_assignments_csv_export.csv
  backend/tests/fixtures/zone_assignments_geojson_export.geojson
  backend/tests/test_exports.py
  backend/tests/test_main.py
Labels: enhancement, API, frontend, database

#268 Bugfixes: Population Bar
  app/src/app/store/chartStore.ts
  app/src/app/store/mapStore.ts
  app/src/app/utils/api/apiHandlers.ts
  app/src/app/utils/api/mutations.ts
  app/src/app/utils/api/queries.ts
  app/src/app/utils/helpers.ts
Labels: bug, frontend

#267 Local Caching
  app/package-lock.json
  app/package.json
  app/src/app/components/Topbar.tsx
  app/src/app/store/mapEditSubs.ts
  app/src/app/store/mapStore.ts
  app/src/app/utils/api/apiHandlers.ts
  app/src/app/utils/api/mutations.ts
  app/src/app/utils/api/queries.ts
  app/src/app/utils/cache.ts
  backend/app/main.py
  backend/app/models.py
  backend/tests/test_exports.py
  backend/tests/test_main.py
  backend/tests/test_utils.py
Labels: API, frontend, performance

#287 Remove idb cache and dependencies
  app/package-lock.json
  app/package.json
  app/src/app/components/Topbar.tsx
  app/src/app/store/mapEditSubs.ts
  app/src/app/store/mapStore.ts
  app/src/app/utils/api/apiHandlers.ts
  app/src/app/utils/api/mutations.ts
  app/src/app/utils/api/queries.ts
  app/src/app/utils/cache.ts
  backend/app/alembic/versions/f36266d50cf7_create_pce_index.py
  backend/app/main.py
Labels: frontend
