Repository districtr/districtr-v2, pull requests merged in 2025-03, with the labels that each got.

#282 Contiguity checks
  app/src/app/components/Toolbar/ToolControls.tsx
  app/src/app/components/Toolbar/ToolUtils.tsx
  app/src/app/components/sidebar/DataPanelUtils.tsx
  app/src/app/components/sidebar/MapValidation/Contiguity.tsx
  app/src/app/components/sidebar/MapValidation/MapValidation.tsx
  app/src/app/components/sidebar/MapValidation/ZoomToUnassigned.tsx
  app/src/app/constants/types.ts
  app/src/app/store/mapStore.ts
  app/src/app/utils/api/apiHandlers.ts
  app/src/app/utils/events/mapEvents.ts
  backend/app/contiguity/__init__.py
  backend/app/contiguity/main.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models.py
  backend/app/sql/get_block_assignments.sql
  backend/app/utils.py
  backend/cli.py
  backend/management/load_data.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/fixtures/ks_ellis_county_block.gpkg
  backend/tests/fixtures/ks_ellis_county_block.pkl
  backend/tests/fixtures/ks_ellis_county_vtd.gpkg
  backend/tests/fixtures/simple_child_geos.gml
  backend/tests/fixtures/simple_child_geos.pkl
  backend/tests/test_contiguity.py
  backend/tests/test_main.py
  backend/tests/test_utils.py
Labels: enhancement, API, roadmap, database

#293 Smarter district number label placement
  app/public/lock.png
  app/src/app/components/ContextMenu.tsx
  app/src/app/components/Map/MetaLayers.tsx
  app/src/app/constants/layers.ts
  app/src/app/store/mapEditSubs.ts
  app/src/app/store/mapStore.ts
  app/src/app/utils/GeometryWorker/geometryWorker.ts
  app/src/app/utils/GeometryWorker/geometryWorker.types.ts
  app/src/app/utils/helpers.ts
  app/src/app/utils/map/mapRenderSubs.ts
Labels: frontend

#312 Support parent only maps
  backend/app/main.py
  backend/management/configs/geopackages_vap_and_election.yaml
  backend/management/load_data.py
  backend/tests/conftest.py
  backend/tests/test_contiguity.py
  pipelines/tilesets/cli.py
  pipelines/tilesets/models.py
Labels: bug, API, CLI
